*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.nav-link{
    color: black;
    
}
.img{
    margin: 10;
    border-radius: 50%;
    width: 70px;
}
.container .row{
    
    margin-top: 10px;
    background-color: whitesmoke;
}

.pa{
    text-align: center;
    margin-top: 120px;
}
.col-lg-6 img{
    height: 600px;
    justify-content: flex-end;
    border-radius: 50%;
}
.pa p{
    text-align: left;
    margin-left: 50px;
}
.fa-inbox, .fa-phone , .fa-map , .fa-twitch , .fa-github
, .fa-youtube , .fa-twitter , .fa-facebook , .fa-instagram{
    margin-right: 10px;
}
.fontawesome  {
    font-size: 30px;

}
button {
    background-color: red;
    cursor: pointer;
}
button:hover{
    background-color: aqua;
}
